@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Instrument+Serif&family=Montserrat:wght@300&family=Turret+Road:wght@300&display=swap');

.header{
    overflow: hidden;
    background-color: rgb(31, 31, 31);

}

.logo{
    position: relative;
    top: 10px;
    left: 100px;
}

.links{
display: flex;
justify-content: flex-end;
}

.link{
    font-size: 30px;
    margin-right: 25px;
    letter-spacing: 1px;
    line-height: 60px;
    color: #d3d3d3;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.link:hover{
   color: azure;
}

.link:last-child{
margin-right: 50px;
}